.App {
  z-index: -999;
}
body{
  background-image: url("https://i.imgur.com/9km5edm.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x:hidden;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.search-bar{
  position: relative;
  background-color: white;
  font-size: 15px;
  color: black; 
  right: 350px;
  top: 50px;
}
.li-pos{
  display: inline-block;
  margin-left:480px;
  margin-top: 50px; 
}
#Home{
  position: relative;
  right: 0px;
  font-weight: bold;
  font-size: 40px;
}
.nav-container{
  position: fixed;
  width: 100%;
  height: 180px;
  top: 0;
  z-index: 999;
  background: black;
  opacity: 0.9;
}
.container{
    display: flex;
    align-items: left;
    height: 100%;
}
.nav-list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    margin-top: 15px;
}
.nav-list-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 3px;
}
.nav-link:hover {
    color: darkturquoise;
}
.nav-link--active {
    color: darkturquoise;
    font-weight: 700;
    text-transform: uppercase;
}
.search-btn{
  position: relative;
  background-color: #555555;
  color: black; 
  right: 330px;
  top: 50px;  
}
.search-btn:hover{
  background-color: darkslategray;
}
.form{
  position: relative;
  z-index: -999;  
  background-color: rgb(1, 15, 15);
  width: 100%;
  height: 274px;
  opacity: 0.3;
  margin-top: 0px;
  margin-left: 0px;
}
#result{
  position: relative;
  z-index: 1;
  top: 110px;
  left: -50px;
  padding-left: 150px;
}
.pieces-of-book{
  position: relative; 
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-right: 20px;
  top:20px;
  text-align: left;
  cursor: pointer;
  padding: 80px;
}
.image-of-book{
  position: relative;
  width: 180px;
  height: 180px;
  border:  rgb(24, 72, 65);
  border-radius: 4px;
  object-fit: 100%;
}
.title-of-book{
  position: relative;
  background-color:rgb(15, 15, 15);
  color: #fff;
  border:  #00926a;
  opacity: 0.85;
  width: 180px;
  text-align: left;
  padding: 15px;
}   
.sentence{
  margin-top: 200px;
}
#logo{
  position: relative;
  background: white; 
  left: -50px; 
  height: 180px;
  width: 200px;
}